#calculator {
    aspect-ratio: 279 / 514;
    width: 279px;
    padding: 1.5em;
    max-width: 90vw;
    max-height: 90vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid black;

}

#display {
    flex: 1;
    border: 1px solid black;
}

#buttons {
    flex: 10;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex: 1 1 25%;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
}

.button {
    background-color: #f0f0f0;
    aspect-ratio: 1/1;
    width: 20%;
    box-sizing: border-box;
    border-radius: 13%;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}